html {
  box-sizing: border-box;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

h2 {
  font-weight: bold;
  letter-spacing: 0.03em;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #ececec;
}

header .container {
  display: flex;
  align-items: center;
}

.header .menu {
  display: flex;
  align-items: center;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-right: 93px;
}

.logoBlack {
  color: #212121;
}

.logoWhite {
  color: #ffffff;
}

.footerBg .logo {
  margin-bottom: 20px;
}

.navigation li {
  margin-right: 50px;
  position: relative;
}

.navigation li:last-child {
  margin-right: 0px;
}

.navigation .link {
  font-weight: 500;
  color: #212121;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation .link:focus,
.navigation .link:hover {
  color: #2196f3;
}

.navigation .current {
  color: #2196f3;
}

.current::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  opacity: 1;
  display: block;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -1px;
}

.link::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  opacity: 0;
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-color: #2196f3;
  display: block;
  bottom: -1px;
  transition-property: opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover::after,
.link:focus::after,
.link:active::after {
  opacity: 1;
}

.marginContacts {
  margin: 0;
  display: flex;
  margin-left: auto;
}

.marginContacts li {
  margin-right: 50px;
  align-items: center;
}

.marginContacts li:last-child {
  margin-right: 0px;
}

.contacts {
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #757575;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  fill: #757575;
  transition-property: color, fill;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:hover, .contacts:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contacts .iconHeader {
  margin-right: 10px;
}

.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/Img-teams.jpg");
  width: 1600px;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  border: 0px;
}

.hero .container {
  width: 700px;
}

.container .main-header {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0;
  margin-bottom: 30px;
}

.container .button {
  min-width: 200px;
  padding: 10px 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 100000;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.buttonModal {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-right: 8px;
  margin-top: 8px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonModal:focus, .buttonModal:hover {
  fill: #2196f3;
}

.form {
  padding: 40px;
}

.form h1 {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.form .submit {
  margin-top: 30px;
  min-width: 200px;
  padding: 10px 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background: #2196f3;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.formBar {
  position: relative;
  margin-top: 30px;
  display: block;
}

.formBar .formInput {
  margin: 50;
  padding: 11px;
  padding-left: 35px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition-property: border, outline;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.formBar .formInput:focus {
  border: 1px solid #2196f3;
  outline: 0;
}

.formBar .formInput:focus + .svgModal {
  fill: #2196f3;
}

.formBar .formInput:focus ~ .formText,
.formBar .formInput:not(:placeholder-shown) ~ .formText {
  transform: translateY(-40px);
  left: 0;
}

.formBar .svgModal {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.formBar .formText {
  position: absolute;
  top: 50%;
  left: 35px;
  transform: translateY(-50%);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  transition-property: transform, left;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.formBarTextarea {
  position: relative;
  display: block;
  margin: 0;
  margin-top: 30px;
}

.formBarTextarea .formTextarea {
  margin: 0;
  padding: 11px;
  padding-left: 16px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition-property: border, outline;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.formBarTextarea .formTextarea:focus {
  border: 1px solid #2196f3;
  outline: 0;
}

.formBarTextarea .formTextarea:focus + .textTextarea,
.formBarTextarea .formTextarea:not(:placeholder-shown) + .textTextarea {
  transform: translateY(-35px);
  left: 0;
}

.formBarTextarea .textTextarea {
  position: absolute;
  left: 16px;
  top: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  transition-property: transform, left;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.formCheckbox {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.formCheckbox .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.formCheckbox .checkbox:checked + .iconCheck {
  background-color: #2196f3;
  background-image: url(../img/check-ok.svg);
  background-size: contain;
  background-origin: border-box;
  border: 0;
}

.formCheckbox .checkbox:hover ~ .textCheckbox {
  cursor: pointer;
}

.formCheckbox .checkbox:focus ~ .iconCheck {
  border-radius: 2px;
  border: 2px solid #2196f3;
}

.formCheckbox .iconCheck {
  margin-right: 8px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  transition-property: outline, border-radius;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.formCheckbox .textCheckbox {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  transition-property: cursor;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.formCheckbox .textCheckbox a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.footerForm {
  width: 100%;
  display: flex;
}

.footerForm .footerInput {
  padding-left: 16px;
  background-color: #2f303a;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition-property: border, outline;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.footerForm .footerInput:focus {
  border: 1px solid #2196f3;
  outline: 0;
  color: #ffffff;
}

.footerForm .footerFormButton {
  margin-left: 12px;
  min-width: 200px;
  height: 50px;
  padding: 10px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.footerForm .footerFormButton svg {
  margin-left: 10px;
  fill: #ffffff;
}

.dignity {
  padding-top: 94px;
  padding-bottom: 94px;
}

.dignity ul {
  display: flex;
  justify-content: space-between;
}

.dignity .advantageTitle {
  margin: 0;
  display: none;
}

.dignityList {
  width: 270px;
}

.dignityList:not(:last-child) {
  margin-right: 30px;
}

.dignityList .iconDignity {
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dignityList .advantage {
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #212121;
}

.dignityList .advantageParagraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
}

.worksList {
  padding-bottom: 94px;
}

.worksList ul {
  display: flex;
  justify-content: space-between;
}

.worksList .secondHeader {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  margin-bottom: 50px;
}

.works-element {
  position: relative;
}

.works-element .works-paragraph {
  position: absolute;
  text-transform: uppercase;
  width: 100%;
  height: 70px;
  margin: 0;
  background: rgba(47, 48, 58, 0.8);
  display: block;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  bottom: 0;
}

.teams {
  background: #f5f4fa;
  padding-bottom: 94px;
  padding-top: 94px;
}

.teams ul {
  display: flex;
  justify-content: space-between;
}

.teams .secondHeader {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  margin-bottom: 50px;
}

.worker {
  width: 270px;
  background: #ffffff;
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.person {
  display: flex;
  flex-direction: column;
  padding: 30px 32px;
}

.person .ourTeam {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin: 0;
  margin-bottom: 10px;
}

.person .profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0;
  margin-bottom: 16px;
}

.person .iconTeam {
  width: 206px;
  display: flex;
  align-items: center;
}

.person .iconTeam li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 44px;
}

.person .iconTeam li .colorIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  transition-property: fill, background, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.person .iconTeam li .colorIcon:hover,
.person .iconTeam li .colorIcon:focus {
  fill: #ffffff;
  border-radius: 50%;
  background: #2196f3;
}

.person .iconTeam li:not(:last-child) {
  margin-right: 10px;
}

.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clients .secondHeader {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  color: #212121;
  margin-bottom: 50px;
}

.iconClients {
  display: flex;
}

.iconClients li {
  margin-right: 30px;
  width: 170px;
  height: 90px;
}

.iconClients li:last-child {
  margin-right: 0px;
}

.iconClients .clientsList {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  transition-property: fill, border;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.iconClients .clientsList:focus, .iconClients .clientsList:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.footerBg {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footerBg .containerFooter {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.footerBg .containerFooter .connect {
  font-size: 14px;
  line-height: 1.14;
  color: #ffffff;
  margin-bottom: 20px;
}

.footerInfo .address {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
  margin-bottom: 9px;
}

.footerInfo .marginMailto {
  margin-bottom: 9px;
}

.footerInfo .marginMailto .contactsFooter {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  margin: 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footerInfo .marginMailto .contactsFooter:hover, .footerInfo .marginMailto .contactsFooter:focus {
  color: #2196f3;
}

.footerIcon .iconTeam {
  width: 206px;
  display: flex;
  align-items: center;
}

.footerIcon .iconTeam li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footerIcon .iconTeam li .colorIconFt {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  transition-property: fill, background, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footerIcon .iconTeam li .colorIconFt:hover,
.footerIcon .iconTeam li .colorIconFt:focus {
  fill: #ffffff;
  border-radius: 50%;
  background: #2196f3;
}

.footerIcon .iconTeam li:not(:last-child) {
  margin-right: 10px;
}

.mainPortfolio {
  padding: 94px 0;
}

.mainPortfolio .titlePortfolio {
  margin: 0;
  display: none;
}

.container .buttonList {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttonList li {
  margin-right: 8px;
}

.buttonList .buttonPortfolio {
  border: 0;
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 2;
  color: #212121;
  cursor: pointer;
  transition-property: color, background, box-shadow, border;
  transition-duration: 250ms, 250ms, 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.buttonList .buttonPortfolio:hover, .buttonList .buttonPortfolio:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border: 0;
}

.container .containerKards {
  display: flex;
  flex-wrap: wrap;
}

.containerKards li {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.containerKards li:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.portfolioKards:nth-child(3n + 3) {
  margin-right: 0;
}

.portfolioKards:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.portfolioShadow {
  display: block;
  transition-property: all;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolioShadow:focus, .portfolioShadow:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolioShadow .portfolioImge {
  position: relative;
  overflow: hidden;
}

.portfolioShadow .portfolioImge .portfolioText {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(100%);
  opacity: 0;
  pointer-events: none;
  transition-property: transform, opacity;
  transition-duration: 250ms, 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolioShadow:hover .portfolioText,
.portfolioShadow:focus .portfolioText {
  transform: translateY(0);
  opacity: 1;
}

.portfolioShadow .mainList {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolioShadow .mainList .activity {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin: 0;
  margin-bottom: 4px;
}

.portfolioShadow .mainList .activityProf {
  margin: 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}
/*# sourceMappingURL=main.css.map */