.worksList {
	padding-bottom: 94px;

	& ul {
		display: flex;
		justify-content: space-between;
	}

	.secondHeader {
		text-align: center;
		font-size: 36px;
		line-height: 1.16;
		color: $mainTextColor;
		margin-bottom: 50px;
	}
}
