.footerInfo {
	.address {
		font-weight: normal;
		font-size: 14px;
		line-height: 1.71;
		letter-spacing: 0.03em;
		color: $colorAddress;
		font-style: normal;
		margin-bottom: 9px;
	}
	.marginMailto {
		margin-bottom: 9px;

		.contactsFooter {
			font-weight: 500;
			font-size: 14px;
			line-height: 1.14;
			letter-spacing: 0.02em;
			color: $colorTextParagraph;
			margin: 0;

			transition-property: color;
			transition-duration: 250ms;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

			&:hover,
			&:focus {
				color: $colorTartet;
			}
		}
	}
}
