.footerIcon {
	.iconTeam {
		width: 206px;
		display: flex;
		align-items: center;

		& li {
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0;
			padding: 0;
			width: 44px;
			height: 44px;
			background: rgba(255, 255, 255, 0.1);
			border-radius: 50%;

			.colorIconFt {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 44px;
				height: 44px;
				fill: $colorIcon;

				transition-property: fill, background, border-radius;
				transition-duration: 250ms;
				transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			}
			.colorIconFt:hover,
			.colorIconFt:focus {
				fill: #ffffff;
				border-radius: 50%;
				background: $colorTartet;
			}
		}
		& li:not(:last-child) {
			margin-right: 10px;
		}
	}
}
